:root{
    --background: #000430;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
    --secondaryBackground: #171c48;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000430;
    color:#fff;
}
.head{
    text-align: center;
    font-size: 30px;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    max-width: 40%;
    margin-left: 30%;
}
.u-container{
    display: flex;
    padding: 30px;
    border: 2px solid #fff;
    border-radius: 12px;
    justify-content: space-between;
    width: 100%;
    gap:20px;
}
#numbers{
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    background-color: #828dff;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
#progressBar{
    width: 200%;
    height: 10px;
    background-color: #171c48;
    margin-top: 20px;
    border-radius: 10px;
}
#progress{
    /* width:80%; */
    height:10px;
    background-color: #24feee;
    border-radius: 10px;
    transition:all 0.3s ease;
}
form{
    margin-top: 10%;
    width: 95%;
    display: flex;
}
input{
    flex: 1;
    padding: 10px;
    background: #171c48;
    border: 1px solid #828dff;
    border-radius: 8px;
    outline: none;
    color: #fff;
}
button{
    padding: 10px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    background-color: #828dff;
    margin-left: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
#tasklist{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 100%;
    list-style: none;
}
.task{
    display: flex;
    align-items: center;
    justify-content: center;
}
.taskItem{
    display: flex;
    width: 100%;
    background-color: #171c48;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.taskItem img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}
.task input{
    width: 20px;
    height: 20px;
}
.completed{
   text-decoration: line-through;
   color: #24feee; 
}